div span.degree {
    color: rgb(235, 235, 235);
    letter-spacing: 0.3px;
    font-weight: 600;
    font-family: 'Poppins';
    padding-right: 5px;
}

div span.institution {
    color: rgb(235, 235, 235);
    font-weight: 200;
    letter-spacing: 0.5px;
    font-family: 'Poppins';
    padding-left: 5px;
}

div span.year {
    color: rgb(235, 235, 235);
}

div span.dash {
    color: rgb(235, 235, 235);
}