@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.navbar {
    background-color: transparent;
    transition: all 350ms ease-out;
}

.navbar {
    margin-left: 5%;
    margin-right: 5%;
}   

.navbarContainer.scroll {
    background-color: black;
}


/* nav.scrolled {
    background-color: red;
} */

.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0);
}

.navbar-nav a:hover {
    /* text-decoration: underline; */
    border-bottom: 0.1rem solid white;
    
}

.navbar-brand, .nav-item .nav-link {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    /* font-family: "Poppins"; */
}

.navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 1.7rem;
}