@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.skill-section {
    color: white;
    padding-top: 5rem;
    padding-bottom: 2rem;
    /* position: relative; */
    background-color: black;
    /*rgb(250, 250, 250)*/
}

.skill-section .skill-heading {
    /* color: white; */
    margin-left: 4rem;
    background-color: rgb(255, 255, 255);
}

.skill-container {
    padding-top: 0.5rem;
    padding-left: 6rem;
    padding-right: 8rem;
}

.skill-tagline {
    text-align: center;
    display: block;
    font-size: 1.3rem;
    font-weight: 600;
    /* color: #F9004D; */
    /* color: linear-gradient(0.25turn, #F9004D, #e20148, #c7003f); */
}

.skills {
    margin-top: 1rem;
    margin-left: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.skill-row {
    /* padding-top: 0.1rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-bottom: 0.1rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem; */
}

.skill-row:hover {
    background-color: rgba(255, 255, 255, 0.219);
}

.skill-section .skillname {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    border: solid 5px;
    border-image-slice: 1;
    border-image-source: linear-gradient(0.25turn, #F9004D, #e20148, #c7003f);
}


.stars {
    float: right;
    transition-timing-function: ease-in-out;
}

/* .skill-row:hover .stars {
    width: 5.5rem;
} */

.filled-star {
    color: #ffc107;
}

.unfilled-star {
    color: rgb(235, 235, 235);
}